// main: style.sass
#logo1
    width: 30%
    position: absolute
    right: 2px
    top: 10px

#arrow
    height: 12%
    width: 20%
    float: left
    margin-top: -50px
    position: absolute

.menuitem
    display: block
    text-align: center

    img
        display: block
        height: 10vh
        margin: auto

#header2
    font-family: "Bebas Neue", Bebas, sanf-serif
    letter-spacing: 4px
    font-size: 18px
    color: $text
    font-weight: lighter
    text-align: center
    margin-top: -18px


#button
    height: 10vh
    margin-top: -25px

#map
    height: 10vh
    margin-top: -25px
    text-align: center

#header3
    font-family: "Bebas Neue", Bebas, sanf-serif
    letter-spacing: 4px
    font-size: 18px
    color: $text
    font-weight: lighter
    margin-top: -18px
    text-align: center

#line
    width: 100%
    margin-top: -20px
    margin-left: 5px
