// main: style.sass
#detail
    height: 26%
    width: 26%
    padding-left: 65px

#menuitem
    height: 20%
    width: 25%
    padding-left: 150px

#chat
    height: 30%
    width: 30%
    padding-left: 130px
