// main: style.sass
#mapPopupHolder
    position: absolute
    width: 100%
    padding-top: 60px

.map-popup
    display: block
    margin-left: auto
    margin-right: auto
    width: 60%
    padding-right: 20px


img.map-popup
    width: 60%

#linematerial
    width: 100%
    padding-top: 220px
    margin-left: 5px

.input-clear-button8
    width: 250px
    height: 30px
    padding-top: 10px
    font-family: "Bebas Neue", Bebas, sanf-serif
    font-weight: lighter
    font-size: 25px

.item-content-item-input2
    padding-left: 80px
