// main: style.sass
#logo1
    height: 30%
    width: 30%
    float: right
    margin-top: -75px
    margin-right: -12px

#arrow
    height: 15%
    width: 20%
    float: left
    margin-top: -50px

#account
    height: 28%
    width: 28%
    padding-left: 65px
    padding-top: 18px

#header2
    padding-left: 90px
    font-family: "Bebas Neue", Bebas, sanf-serif
    letter-spacing: 4px
    font-size: 30px
    color: #ffffff
    font-weight: lighter
    margin-top: -25px
