div.page {
    background-image: url(../img/Background.jpg);
    background-size: cover;
}

.icons {
    flex: 1;
}

#logo {
    height: 90%;
    width: 100%;
    padding-left: 0.5em;
    padding-top: -20px;
}

h1 {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    letter-spacing: 4px;
    font-size: 30px;
    padding-left: 0.5em;
    /* padding-top: 1.7em; */
    color: #ffffff;
}

#bomba {
    width: 20%;
    padding-left: 5.3em;
    /* padding-top: 1.5em; */
}

#bomba2 {
    width: 24%;
    padding-left: 3em;
}

#logo1 {
    height: 30%;
    width: 30%;
    float: right;
    margin-top: -75px;
    margin-right: -12px;
}

#arrow {
    height: 15%;
    width: 20%;
    float: left;
    margin-top: -50px;
}

#account {
    height: 26%;
    width: 26%;
    margin-left: 70px;
}

#header2 {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}

#button {
    height: 20%;
    width: 20%;
    padding-left: 150px;
    margin-top: -20px;
}

#map {
    height: 30%;
    width: 30%;
    padding-left: 130px;
    margin-top: -20px;
}

#header3 {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    letter-spacing: 4px;
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
    margin-top: -25px;
    text-align: center;
}

#line {
    width: 100%;
    margin-top: -20px;
    margin-left: 5px;
}

#body {
    width: 100%;
    height: 100%;
}

.menu2icon {
    padding-top: 25px;
}

.MyAccount3 {
    margin-top: -18px;
}

.MyAccount4 {
    margin-top: 10px;
}

#detail {
    height: 26%;
    width: 26%;
    padding-left: 75px;
}

#menuitem {
    height: 30%;
    width: 23%;
    padding-left: 150px;
}

#chat {
    height: 22%;
    width: 22%;
    padding-left: 140px;
    margin-top: -20px;
}

#header4 {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 20px;
    margin-top: -15px;
    text-align: center;
    font-weight: lighter;
}

#header5 {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 20px;
    margin-top: -15px;
    font-weight: lighter;
    text-align: center;
}

#line2 {
    margin-top: -50px;
    margin-left: 5px;
    width: 100%;
}

#line3 {
    margin-top: -50px;
    margin-left: 5px;
    width: 100%;
    padding-top: 5px;
}

.item-input-wrap {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    width: 150px;
}

#donateheader {
    font-family: "Bebas Neue", Bebas, sanf-serif;
    color: #ffffff;
    letter-spacing: 4px;
    font-weight: lighter;
    margin-left: 180px;
    text-decoration: underline;
    font-size: 25px;
}

.input-clear-button {
    width: 350px;
    height: 40px;
    padding-right: 27px;
    padding-top: 10px;
    font-family: "Bebas Neue", Bebas, sanf-serif;
    font-weight: lighter;
    font-size: 25px;
}

.input-clear-button1 {
    width: 350px;
    height: 40px;
    padding-right: 27px;
    font-family: "Bebas Neue", Bebas, sanf-serif;
    font-weight: lighter;
    font-size: 25px;
}

.input-clear-button2 {
    width: 350px;
    height: 40px;
    padding-right: 27px;
    font-family: "Bebas Neue", Bebas, sanf-serif;
    font-weight: lighter;
    font-size: 25px;
}

.input-clear-button3 {
    width: 350px;
    height: 40px;
    padding-right: 27px;
    font-family: "Bebas Neue", Bebas, sanf-serif;
    font-weight: lighter;
    font-size: 25px;
}

.input-clear-button4 {
    width: 350px;
    height: 40px;
    padding-right: 27px;
    font-family: "Bebas Neue", Bebas, sanf-serif;
    font-weight: lighter;
    font-size: 25px;
}

.input-clear-button5 {
    width: 350px;
    height: 40px;
    padding-right: 27px;
    font-family: "Bebas Neue", Bebas, sanf-serif;
    font-weight: lighter;
    font-size: 25px;
}

.item-inner {
    padding-top: 40px;
}
